/* Estilos generales */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  overflow-x: hidden;
  background: linear-gradient(to right, #8e44ad, #c0392b, #f39c12);
  font-family: Arial, sans-serif;
}

/* Tamaño de fuente para pantallas grandes */
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* Tamaño de fuente para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 14px;
  }
}

/* Tamaño de fuente para pantallas pequeñas */
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

/* Estilos del encabezado */
header {
  color: #fff;
  text-align: center;
}

.logo {
  width: 30%;
  height: auto;
  padding-top: 2%;
}

.preview-title {
  margin: 2% 0;
  margin: 0 0 5px 0;
  animation: colorAnimation 3s infinite;
  background-color: blue;
  color: white;
  text-align: center;
  animation: scaleAnimation 3s infinite alternate;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logo img {
  width: 30%;
  height: auto;
  padding-top: 2%;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: rgb(102, 6, 6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: 'Courier New', monospace;
  font-size: 0.8em;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 2%;
  text-align: center;
}

.container {
  border: 2% solid black;
  border-radius: 2px;
  padding: 1px;
  width: 80%;
  margin-bottom: 2%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.editor-container,
.preview-container {
  width: 80%;
  margin-bottom: 2%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0.8em 0.5em 0.8em 0.5em rgba(55, 136, 234, 0.3);
  border: 2px solid rgb(24, 207, 73);
}

.editor-container {
  width: 70%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(132, 250, 132, 0.3);
  min-height: 40vh; /* Ajusta el porcentaje según tus necesidades */
}

.preview-container {
  width: 95%;
  flex-grow: 1;
  min-height: 60vh;
  margin: 0;
  overflow: auto;
}

.preview-title {
  margin: 0 0 5px 0;
  animation: colorAnimation 3s infinite;
  background-color: blue;
  color: white;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilos del editor y la previsualización */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1%;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 60px);
}

#editor {
  width: 100%;
  box-sizing: border-box;
  margin: 1%;
  max-width: 98%;
  flex-grow: 1;
  background-color: black;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
}
